doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
        name="viewport",
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="stylesheet", href="bower_files/bootstrap/dist/css/bootstrap.css")
  body
    // Responsive navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container
            a.navbar-brand(href='#!') Start Doing
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link(href='#') Home
                    li.nav-item
                        a.nav-link(href='#!') About
                    li.nav-item
                        a.nav-link(href='#!') Contact
                    li.nav-item
                        a.nav-link.active(aria-current='page', href='#') Update

    // Page header with logo and tagline
    header.py-5.bg-light.border-bottom.mb-4
        .container
            .text-center.my-5
                h1.fw-bolder Welcome to Deam Blog!
                p.lead.mb-0 Start writing your interesting idea 
    .container
        block content
    footer.py-5.bg-dark
        .container
            p.m-0.text-center.text-white Copyright &copy; Your Website 2022
script(src="/bower_files/bootstrap/dist/js/bootstrap.js")
